@model WarehouseAgile.Models.LayoutModel

<!DOCTYPE html>
<html>
<head>
    <title>System obsługi salonów samochodowych</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="menu">
        <ul>
            @if(Model == null)
            {
                <li>@Html.ActionLink("Strona główna", "Index", "Main")</li>
            }
            else
            {
                if(Model.LoggedUser != null)
                {
                    foreach (var m in Model.Menu)
                    {
                        <li>@Html.ActionLink(m[0], m[1], m[2])</li>
                    }

                    <li>@Html.ActionLink("Zmiana hasła", "ChangePassword", "Login")</li>
                    <li>@Html.ActionLink("Wyloguj " + Model.LoggedUser, "LogOff", "Login")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Logowanie", "LogOn", "Login")</li>
                }
            }
        </ul>
    </div>

    <div class="body">
        @RenderBody()
    </div>
</body>
</html>
