@model WarehouseAgile.Models.LayoutModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                @if(Model.Menu == null)
                {
                    <li>@Html.ActionLink("Strona główna", "Index", "Main")</li>
                }
                else
                {
                    if(Model.LoggedUser != null)
                    {
                        foreach (var m in Model.Menu)
                        {
                            <li>@Html.ActionLink(m[0], m[1], m[2])</li>
                        }

                    <li>@Html.ActionLink("Zmiana hasła", "ChangePassword", "Login")</li>
                    <li>@Html.ActionLink("Wyloguj " + Model.LoggedUser, "LogOff", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Logowanie", "LogOn", "Login")</li>
                    }
                }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>