@using WarehouseAgile.Controllers;

@model WarehouseAgile.Models.OrderModel
<h2>Nowe zamówienie</h2>

@using (Html.BeginForm("SaveNewOrder", "Orders", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <fieldset class="orders-create">
        <legend>Zamówienie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarMake)
        </div>
        <div class="editor-field">
            <select id="MakesSelection">
                @Html.Action("GetMakes", "Offer")
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarModel)
        </div>
        <div class="editor-field">
            <select id="ModelsSelection">
                <option value="0">>>>Model<<<</option>
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EquipmentType)
        </div>
        <div class="editor-field">
            <select id="EquipmentsSelection" name="equipmentPriceId">
                <option value="0">>>>Wyposażenie<<<</option>
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.DropDownList("colorId", OrdersController.GetColors())
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div>
        <div class="editor-field">
            @Html.DropDownList("customerId", OrdersController.GetCustomers())
        </div>

        <div class="editor-label priceLabel">
            @Html.Label("Cena")
        </div>
        <div class="editor-field priceField">
            <span id="OrderPriceField">0 zł</span>
        </div>

        <p>
            <input type="submit" value="Zapisz" disabled="disabled" id="SaveButton" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy zamówień", "Index")
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Order.js")" type="text/javascript"></script>
