@model WarehouseAgile.Models.CustomersModel
@{
    ViewBag.Title = "Index";
}

<h2>Klienci</h2>

<div>
    @Html.ActionLink("Dodaj", "Add")
</div>
<hr />

@if (Model != null)
{
    if (Model.Customers != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Imie</td>
                    <td>Nazwisko</td>
                    <td>Adres</td>
                    <td>Miasto</td>
                    <td>Opcje</td>
                </tr>
            </thead>
        <tbody>
        @foreach(var m in Model.Customers)
        {
             <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.Surname</td>
                <td>@m.Address</td>
                <td>@m.City</td>
                <td>@Html.ActionLink("Usuń", "Delete", new { id = m.Id } ) |
                    @Html.ActionLink("Edytuj", "Edit", new { id = m.Id } ) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = m.Id } )
                </td>
             </tr>           
        }
        </tbody>
        </table>
    }
    else
    {
        <div class="error">brak listy klientów</div>
    }
}
else
{
    <div class="error">brak modelu</div>
}
