@model WarehouseAgile.Models.OfferModel
@{
    ViewBag.Title = "";
}

<h2>Oferta</h2>

@if (Model != null)
{
    using (Html.BeginForm(null, null, FormMethod.Get))
    {
        if (Model.MakesList != null)
        {
            <select name="make" id="make" onchange="submit()">
                <option value="0">>>> Marka <<<</option>
                @foreach (var m in Model.MakesList)
                {
                    <option value="@m.Id" @if (Model.selectedMakeId == m.Id)
                                          {
                                              @: selected="selected" 
                                          }>@m.Name</option>
                }
            </select>
        }

        if (Model.ModelsList != null)
        {
            <select name="model" id="model" onchange="submit()">
                <option value="0">>>> Model <<<</option>
                @foreach (var m in Model.ModelsList)
                {
                    <option value="@m.Id" @if (Model.selectedModelId == m.Id)
                                          {
                                              @: selected="selected" 
                                          }>@m.Name</option>
                }
            </select>
        }
    }

    if (Model.EquipmentPricesList != null)
    {
        using(var context = new WarehouseAgile.AppDBEntities())
        {
            var basePrice = (from m in context.Models
                             where m.Id == Model.selectedModelId
                             select m.Price).First();
            
            <div>Cena podstawowa: @basePrice zł</div>
            
            string modelName;
                    
            foreach (var ep in Model.EquipmentPricesList)
            {
                modelName = (from e in context.Equipments
                             where e.Id == ep.Id_equipment
                             select e.Name).First();
                                
                <div>@(modelName): + @ep.Price zł</div>
            }
        }
    }
}