@{
    ViewBag.Title = "";
}

<h2>Oferta</h2>

<h3><span id="models-header" class="ui-state-default ui-corner-all" style="float: left;"><span class="ui-icon ui-icon-circle-triangle-s"></span></span>&nbsp;Modele</h3>
<div id="models-section">
    @using (Ajax.BeginForm("GetModels", "", new AjaxOptions() { UpdateTargetId = "models-select", LoadingElementId = "loading", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { id = "models-make-form" }))
    {
        <div class="row-clean">
            <select name="make" id="models-make-select">
                @Html.Action("GetMakes", "Offer")
            </select>
        </div>
    }

    @using (Ajax.BeginForm("GetModelDetails", "", new AjaxOptions() { UpdateTargetId = "model-details", LoadingElementId = "loading", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { id = "models-form" }))
    {
        <div class="row-clean">
            <select name="model" id="models-select">
                <option value="0">>>> Model <<<</option>
            </select>
        </div>
    }

    <div id="loading"><img src="@Url.Content("~/Content/images/loader.gif")" alt="" /> Pobieranie danych...</div>

    <div id="model-details"></div>
</div>
 
<h3><span id="makes-header" class="ui-state-default ui-corner-all" style="float: left;"><span class="ui-icon ui-icon-circle-triangle-s"></span></span>&nbsp;Producenci</h3>
<div id="makes-section">
    <div id="savemake-rsp"></div>

    @using (Ajax.BeginForm("GetMakeDetails", "", new AjaxOptions() { UpdateTargetId = "make-details", LoadingElementId = "loading2", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { id = "makes-form" }))
    {
        <div class="row-clean">
            <select name="make" id="makes-select">
                @Html.Action("GetMakes", "Offer")
            </select>
        </div>
    }

    @using (Ajax.BeginForm("SaveMake", "", new AjaxOptions() { OnSuccess = "saveMakeSuccess", LoadingElementId = "loading2", HttpMethod = "POST" }, new { id = "make-form" }))
    {
        <div class="row-clean" id="make-details">
        </div>
    }

    @using (Ajax.BeginForm("AddMake", "", new AjaxOptions() { OnSuccess = "addMakeSuccess", LoadingElementId = "loading2", HttpMethod = "POST" }, new { id = "makes-add-form" }))
    {
        <div class="row-clean">
            <input type="text" name="make" />
            <input type="submit" value="Dodaj" />
        </div>
    }

    <div id="loading2"><img src="@Url.Content("~/Content/images/loader.gif")" alt="" /> Pobieranie danych...</div>
</div>

<h3><span id="equipments-header" class="ui-state-default ui-corner-all" style="float: left;"><span class="ui-icon ui-icon-circle-triangle-s"></span></span>&nbsp;Wersje wyposażenia</h3>
<div id="equipments-section">
    ...
</div>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.2.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/offer.js")" type="text/javascript"></script>